
@{
    ViewData["Title"] = "Add";
}

<div>
    <form class="card mx-auto">
        <div class="card-title">Register Hackathon</div>
        <div class="card-body">
            
            <h6>Title</h6>
            <input type="text" placeholder="Title" />
            <h6>Subtitle</h6>
            <input type="text" placeholder="Subtitle" />
            <h6>Description</h6>    
            <textarea name="description" cols="65" rows="15" placeholder="Description"></textarea>
            <h6>Email</h6> 
            <input type="email" placeholder="Contact Email" />
            <h6>Phone Number</h6>
            <input type="text" placeholder="Contact Phone" />
            <h6>Website</h6>
            <input type="text" placeholder="Contact Website" />
            <h6>Thumbnail</h6>
            <input type="text" placeholder="Thumbnail" />
            <h6>CoverPhoto</h6>    
            <input type="file" name="pic" accept="image/*" placeholder="Cover Photo">
            <h6>Start Date</h6>    
            <input type="datetime" placeholder="StartDate" />
            <h6>End Date</h6>    
            <input type="datetime" placeholder="EndDate" />
        </div>

    </form>
</div>